.blockchain__title {
  margin-bottom: 18px;
  font-size: 40px;
  text-align: center;
  color: hsl(212, 71%, 42%);
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}
.blockchain__image {
  width: 300px;
  height: 300px;
  margin: 20px 0px 20px 0px;
  margin-left: auto;
  margin-right: auto;
}
.blockchain__h4 {
  text-align: center;
}
.blockchain__col1 {
  display: flex;
  justify-content: center;
  animation: blockchain__col1 1s ease-in-out;
}
@keyframes blockchain__col1 {
  from {
    margin-left: -700px;
  }
  to {
    margin-left: 0px;
  }
}

.blockchain__h6 {
  margin: 30px 0px 30px 0px;
}

.blockchain__li {
  font-size: 20px;
  padding: 3px 0px 3px 0px;
  font-weight: 400;
}
.blockchain__desc {
  text-align: center;
  margin: 40px 0px 40px 0px;
}
.blockchain__image {
  width: 80%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.blockchain__card__secondary {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 10px 0px 10px;
}
.blockchain__image__secondary {
  margin-right: auto;
  margin-left: auto;
  padding: 0px 10px 0px 10px;
  display: flex;
  justify-content: space-around;
}
.blockchain__row {
  margin-top: 50px;
}
.V {
  font-size: 16px;
}
