.platform__main {
  background-color: #e6e9ec;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 350px;
  /* margin-bottom: 20px; */
  margin-top: 20px;
}
.col__text__h3 {
  font-size: 18px;
  color: black;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: left;
  padding-right: 30px;
}
.platform__main__h3 {
  margin-bottom: 18px;
  font-size: 31px;
  text-align: center;
  color: hsl(212, 71%, 42%);
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.platform__image {
  padding-right: 30px;
}
