.progress__image {
  border-radius: 4px;
  background: #fff;
  animation: progress__image 1s linear;
}
@keyframes progress__image {
  from {
    margin-left: -800px;
  }
  to {
    margin-left: 0px;
  }
}
.progress__main__h3 {
  margin: 40px 0px 40px 0px;
  font-size: 31px;
  text-align: center;
  color: hsl(212, 71%, 42%);
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}
