.main__hero {
  background-image: url("../../assets/Images/luca-bravo-XJXWbfSo2f0-unsplash.jpg");
  min-height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 600px) {
  .triangle__image {
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to bottom right, transparent 50%, white 0),
      linear-gradient(to top right, white 50%, transparent 0);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left, right;
    position: absolute;
    z-index: 3000;
    top: 60vh;
  }
}

.main__hero__content {
  color: white;
  padding-top: 40px;
  text-align: center;
}
.main__hero__content > h3 {
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;
}

.main__hero__content > p {
  margin-top: 30px;
}

.main__hero__text {
  margin-top: 90px;
}

@media screen and (max-width: 600px) {
  .main__hero__text {
    margin-top: 130px !important;
  }
}

.custom-shape-divider-bottom-1634357701 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1634357701 svg {
  position: relative;
  display: block;
  width: calc(113% + 1.3px);
  height: 95px;
}

.custom-shape-divider-bottom-1634357701 .shape-fill {
  fill: #ffffff;
}
